.deckCard {
  cursor: pointer;
  opacity: 0.7;
}
.deckCard:hover {
  opacity: 1;
  margin-top: -60px;
}

@media (max-width: 767px) {
  .deckCard {
    opacity: 0.5;
  }
  .deckCard:hover {
    opacity: 1;
    margin-top: 0;
  }
}
